<header class="header" id="header">
  <div class="container">
    <nav class="header-nav" aria-label="main menu">
      <a href="./index.html" class="logo-link logo">
        <img
          src="./img/logo-header.webp"
          alt="logo-header"
          width="119"
          height="51"
        />
      </a>
      <ul class="header-menu">
        <li>
          <a href="./index.html" class="header-link current">Artists</a>
        </li>
        <li><a href="#About-us" class="header-link">About Us</a></li>
        <li><a href="#feedback" class="header-link">Reviews</a></li>
      </ul>
    </nav>
    <button type="button" class="mob-menu" aria-label="Open menu">
      <svg class="menu-icon" width="32" height="22">
        <use href="./img/icons.svg#icon-menu-alt-right"></use>
      </svg>
    </button>
  </div>
</header>
