.header {
  padding: 12px 0;
  background: #060307;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
}
.logo {
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}
.current {
}
.mob-menu {
  display: none;
}
.menu-icon {
}
